<footer class="container">
    <hr/><br/>

    <div class="row">
        <div class="col-lg-6 h-100">
            <img src="./assets/qlbase-logo.png" width="48"/>
            <small class="px-4">Copyright 2023 - <span id="#present-year"></span> &copy; <a class="text-decoration-none" href="https://github.com/nthnn/QLBase" target="_blank">QLBase</a></small>
            <br/><br/>
        </div>

        <div class="col-lg-3">
            <b>Sitemap</b>
            <br/><br/>

            <?php
                if(!isset($_COOKIE["sess_id"]) || empty($_COOKIE["sess_id"])) {
            ?>
            <a href="?page=log-in" class="text-decoration-none">Log-in</a> or <a href="/?page=sign-up" class="text-decoration-none">Sign-up</a><br/>
            <a href="?page=forgot" class="text-decoration-none">Account Recovery Page</a><br/>
            <?php
                }
            ?>

            <a href="docs" class="text-decoration-none">Documentations</a><br/>
            <a href="sandbox.php" class="text-decoration-none">Sandbox</a><br/>
            <br/>
        </div>

        <div class="col-lg-3">
            <b>Community</b>
            <br/><br/>

            <a href="https://github.com/nthnn/QLBase" target="_blank" class="text-decoration-none">GitHub Repository</a><br/>
            <a href="https://github.com/nthnn/QLBase/discussions" target="_blank" class="text-decoration-none">Discussions</a><br/>
            <a href="https://github.com/nthnn/QLBase/pulls" target="_blank" class="text-decoration-none">Pull Requests</a>
            <a href="https://github.com/nthnn/QLBase/issues" target="_blank" class="text-decoration-none">Issues</a><br/>
            <br/>
        </div>
    </div>

    <hr/><br/>
</footer>

<script>document.getElementById("#present-year").innerHTML = new Date().getFullYear();</script>
